@charset "utf-8";
/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Nanum Myeongjo', serif;
*/
body {
    font-family: 'Noto Sans KR', sans-serif;
}
.hdrsldwrap {
    width: 100vw;
    height: 100vh;
    background: #0F0729;
}
.hdrsldwrap>.wrap {
    height: 100%;
    overflow: hidden;
}
.hdrsldwrap>.wrap>.header {
    width: 100vw;
    height: 100px; 
    background: #241162;
}
.hdrsldwrap>.wrap>.header h1 {
    line-height: 100px;
    float: left;
}
.hdrsldwrap>.wrap>.header h1 a {
    font-size:24px;
    color: #fff;
    padding: 10px 20px;
}
.hdrsldwrap>.wrap>.header nav>ul {
    width: 396px;
    height: 28px;
    float: right;
    line-height: 100px;
}
.hdrsldwrap>.wrap>.header nav>ul>li {
    display: inline-block;
    margin: 10px 20px;
    line-height: 28px;
}
.hdrsldwrap>.wrap>.header nav>ul>li:nth-child(1), .hdrsldwrap>.wrap>.header nav>ul>li:nth-child(2) {
    position: relative;
}
.hdrsldwrap>.wrap>.header nav>ul>li:nth-child(1):hover ul.hvrhddn {
    visibility: visible;
}
.hdrsldwrap>.wrap>.header nav>ul>li:nth-child(2):hover ul.hvrhddn {
    visibility: visible;
}
.hdrsldwrap>.wrap>.header nav ul li a {
    font-size: 16px;
    color: #fff;
}
.hdrsldwrap>.wrap>.header nav ul li ul.hvrhddn {
    width: 180px;
    background: #241162;
    position: absolute;
    top: 64px;
    left: -20px;
    visibility: hidden;
}
.hdrsldwrap>.wrap>.header nav ul li ul li a {
    display: block;
    padding: 26px 20px;
    color: #aaa;
}
.hdrsldwrap>.wrap>.header nav ul li ul li a:hover {
    background: #81C8A0;
    color: #fff;
}

.hdrsldwrap>.wrap>.slide.wrapper {
    clear: both;
    height: 100%;
}
.hdrsldwrap>.wrap>.slide.wrapper>.wrap {
    width: 100%;
    height: 100%;
}
/* .hdrsldwrap>.wrap>.slide.wrapper>.wrap::after {
    content: "";
    line-height: 0;
} */
.hdrsldwrap>.wrap>.slide.wrapper>.wrap>.sld {
    width: 100%;
    height: 100%;
}
.hdrsldwrap>.wrap>.slide.wrapper>.wrap>.sld ul {
    width: 100%;
    height: 100%;
}
.hdrsldwrap>.wrap>.slide.wrapper>.wrap>.sld ul li.sld1 {
    background: #ec407a;
    width: 100%;
    height: 100%;
}